.auto-hide {
    opacity: 0;
    visibility: hidden;
}

.auto-hide.show {
    opacity: 1;
    visibility: visible;
}

body.auto-cursor, body.auto-cursor a { cursor: none; }
body.auto-cursor.show { cursor: initial; }
body.auto-cursor.show a:hover { cursor: pointer; }